.menu {
    text-align: right;
    padding: 10px;
}

.menu button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.menu button:hover {
    text-decoration: underline;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('imagen.jpg'); /* Reemplaza 'imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: grid;
    gap: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
.answer__content {
    display: none;
}